html, html a {
  -webkit-font-smoothing: antialiased;
}
.static-Header {
  z-index: 1000;
  position: fixed;
  top: 0;
  margin-left: 0;
  left: 0;
  width: 100%;
}
.line-height-1 {
  line-height: 1 !important;
}
h2, .h2 {
    font-size: 2rem;
}
h1, h2, .h1, .h2, h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
    font-family: 'Merriweather', serif !important;
    font-weight: 600;
    line-height: 1.42857143;
    color: #316DC3;
}
.text-themeout-colored {
    color: #427900 !important;
}
.title-icon {
  margin: 0 auto;
  max-width: 160px;
  position: relative;
}
.title-icon::before {
  content: "";
  height: 2px;
  position: absolute;
  right: 10px;
  top: 30px;
  width: 36px;
  background: #427900;
}
.title-icon::after {
  content: "";
  height: 2px;
  left: 10px;
  position: absolute;
  top: 30px;
  width: 36px;
  background: #427900;
}
.parallax {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: top center;
}
.divider {
    background-repeat: repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}.overlay-theme-colored-8:before {
  background-color: rgba(36, 79, 242, 0.8) !important;
}
.layer-overlay::before {
  background: rgba(17, 17, 17, 0.5) none repeat scroll 0 0;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.divider .container {
    padding-top: 90px;
    padding-bottom: 90px;
}
section > .container, section > .container-fluid {
  padding-top: 60px;
  padding-bottom: 60px;
}
.pb-80 {
  padding-bottom: 80px !important;
}
.pt-80 {
    padding-top: 80px !important;
}
.funfact {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.funfact h2 {
  position: relative;
}
.font-42 {
  font-size: 3rem !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.text-white {
  color: #fff !important;
}
.font-weight-600 {
    font-weight: 600 !important;
}
.bg-silver-light {
  background-color: #f7f8fa !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.p-30 {
    padding: 30px !important;
}
.box-shadow11 {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
}
.mt-20 {
  margin-top: 20px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.line-bottom {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.line-bottom:after {
  bottom: -1px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 50px;
  background: #427900;
}
.media:first-child {
  margin-top: 0;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.p-15 {
  padding: 15px !important;
}
.border-1px {
  border: 1px solid #eeeeee !important;
}
.icon-box.left a {
  margin-right: 30px;
  padding: 0;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
.media-body {
  width: 10000px;
}
.font-15 {
  font-size: 15px !important;
}
.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.section-title {
  margin-bottom: 30px;
}
::selection {
  background: #333333;
  color: #fff;
  text-shadow: none;
}
.gallery-item .thumb img {
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.img-fullwidth {
  width: 100% !important;
}
.gallery-isotope .gallery-item .icons-holder {
  position: absolute;
  top: 0%;
  left: 50%;
  display: inline-block;
  width: auto;
  height: 36px;
  vertical-align: middle;
  z-index: 130;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gallery-isotope .gallery-item:hover .overlay-shade {
  border: 8px solid #eeeeee;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.gallery-isotope .gallery-item .overlay-shade {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.gallery-isotope .gallery-item .icons-holder .icons-holder-inner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: -18px 0 0 -50%;
}
.gallery-isotope .gallery-item:hover .icons-holder {
  top: 50%;
}
.gallery-isotope .gallery-item:hover .icons-holder .icons-holder-inner a {
  opacity: 1;
}
.gallery-isotope .gallery-item .icons-holder .icons-holder-inner a {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.icon-theme-colored.icon-dark a {
  /* background-color: #F26522; */
  background-color: #316DC3;
  color: #fff;
}
.styled-icons.icon-sm a {
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  margin: 2px 7px 2px 0;
  width: 30px;
}
.styled-icons.icon-circled a {
  border-radius: 50%;
}
.styled-icons.icon-dark a {
  background-color: #4caf50;
  color: #eeeeee;
  display: block;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  width: 36px;
}
.menuzord-brand img {
  max-height: 52px;
}
.menuzord-menu > li > a {
  padding: 8px 16px;
  border-radius: 30px;
}
.pl-10 {
  padding-left: 10px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.m-0 {
  margin: 0px !important;
}
.mr-5 {
    margin-right: 5px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}