div.heading {
  text-align: center;
}



h3{
    font-family: Calibri; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:SlateBlue;
    text-decoration: underline;
    margin-top: 10px;
  }
  
  table{
    font-family: Calibri; 
    color:white; 
    font-style: normal;
    font-weight: bold;
    background-color: SlateBlue; 
    border-collapse: collapse; 
    border: 2px solid navy
  }
  input {
      padding-left: 5px;
  }
  table.inner{
    border: 0px
  }
  div.content {
    color: #00b741;
    font-family: 'Tinos', serif;
  }
  i.far.fa-check-circle{
    font-size: 200px;
  }
  h2 {
    color: darkviolet;
  }
  a.back-btn {
    font-size: 35px;
    font-weight: bold;
  }